body {
  background: #2e3e51;
  margin: 0;
  text-align: center; }
  body .logo {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(313deg) saturate(632%) drop-shadow(4px 8px 2px #000c);
    width: 150px;
    margin: 40px 0; }
    body .logo.animate {
      -webkit-animation: logo-color-change 0.902s ease-in-out 0s infinite alternate;
      -moz-animation: logo-color-change 0.902s ease-in-out 0s infinite alternate;
      -ms-animation: logo-color-change 0.902s ease-in-out 0s infinite alternate;
      -o-animation: logo-color-change 0.902s ease-in-out 0s infinite alternate;
      animation: logo-color-change 0.902s ease-in-out 0s infinite alternate; }

@-webkit-keyframes logo-color-change {
  30% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(313deg) saturate(632%) drop-shadow(4px 8px 2px #000c); }
  50% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(133deg) saturate(632%) drop-shadow(4px 8px 2px #000c); }
  70% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(313deg) saturate(632%) drop-shadow(4px 8px 2px #000c); } }

@-moz-keyframes logo-color-change {
  30% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(313deg) saturate(632%) drop-shadow(4px 8px 2px #000c); }
  50% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(133deg) saturate(632%) drop-shadow(4px 8px 2px #000c); }
  70% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(313deg) saturate(632%) drop-shadow(4px 8px 2px #000c); } }

@-ms-keyframes logo-color-change {
  body .logo.animate 30% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(313deg) saturate(632%) drop-shadow(4px 8px 2px #000c); }
  body .logo.animate 50% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(133deg) saturate(632%) drop-shadow(4px 8px 2px #000c); }
  body .logo.animate 70% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(313deg) saturate(632%) drop-shadow(4px 8px 2px #000c); } }

@-o-keyframes logo-color-change {
  30% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(313deg) saturate(632%) drop-shadow(4px 8px 2px #000c); }
  50% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(133deg) saturate(632%) drop-shadow(4px 8px 2px #000c); }
  70% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(313deg) saturate(632%) drop-shadow(4px 8px 2px #000c); } }

@keyframes logo-color-change {
  30% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(313deg) saturate(632%) drop-shadow(4px 8px 2px #000c); }
  50% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(133deg) saturate(632%) drop-shadow(4px 8px 2px #000c); }
  70% {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(313deg) saturate(632%) drop-shadow(4px 8px 2px #000c); } }
  body .helmet-container {
    position: relative;
    width: 380px;
    height: 450px;
    margin: auto;
    transition: width .25s .25s linear;
    cursor: pointer; }
    body .helmet-container.expand {
      width: 780px; }
    body .helmet-container .orange {
      overflow: hidden;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: left .25s .25s linear, width .25s linear, background 0s .25s linear;
      background: #2e3e51; }
      body .helmet-container .orange .cover {
        width: 294px;
        height: 430px;
        background: #f00;
        border-radius: 230px 220px 230px 230px;
        position: absolute;
        left: 41px;
        top: 0px;
        /* opacity: .5; */ }
      body .helmet-container .orange .cover:before {
        content: '';
        /* opacity: .5; */
        background: #0808;
        width: 40px;
        height: 210px;
        position: absolute;
        left: -14px;
        top: 131px;
        border-radius: 20px 10px 0px 19px;
        transform: rotateZ(-6deg); }
      body .helmet-container .orange .cover:after {
        content: '';
        /* opacity: .5; */
        background: #0808;
        width: 40px;
        height: 210px;
        position: absolute;
        right: -14px;
        top: 131px;
        border-radius: 10px 20px 20px 0px;
        transform: rotateZ(6deg);
        z-index: 0; }
      body .helmet-container .orange .glass {
        position: relative;
        background: #00f8;
        width: 270px;
        left: 13px;
        height: 360px;
        /* opacity: .5; */
        border-radius: 140px 140px 80px 80px;
        z-index: 1; }
      body .helmet-container .orange .glass:before {
        content: '';
        position: absolute;
        background: #f80;
        width: 134px;
        left: 136px;
        height: 360px;
        opacity: .5;
        border-top-right-radius: 135px 135px;
        border-bottom-right-radius: 77px 76px;
        z-index: 1; }
      body .helmet-container .orange .display {
        width: 175px;
        height: 320px;
        position: absolute;
        top: 34px;
        left: 60px;
        z-index: 1; }
    body .helmet-container.expand-mobile .orange {
      width: 100%;
      transition: width .125s linear; }
    body .helmet-container.expand .orange {
      left: 420px;
      width: 100%;
      background: transparent; }
    body .helmet-container .white {
      width: 380px;
      height: 430px;
      position: absolute;
      top: 0; }
      body .helmet-container .white .scalp .left {
        width: 135px;
        height: 120px;
        background: #f00;
        left: 55px;
        position: relative;
        border-top-left-radius: 110px; }
      body .helmet-container .white .scalp .left:before {
        content: '';
        position: absolute;
        left: -13px;
        top: 60px;
        border-left: 25px solid transparent;
        border-bottom: 60px solid #00f; }
      body .helmet-container .white .scalp .left:after {
        content: '';
        position: absolute;
        left: -13px;
        bottom: -20px;
        width: 148px;
        height: 20px;
        background: #f80;
        border-bottom-left-radius: 100%; }
      body .helmet-container .white .scalp .right {
        width: 135px;
        height: 120px;
        background: #00f;
        right: 55px;
        top: 0;
        position: absolute;
        border-top-right-radius: 110px; }
      body .helmet-container .white .scalp .right:before {
        content: '';
        position: absolute;
        right: -13px;
        top: 60px;
        border-right: 25px solid transparent;
        border-bottom: 60px solid #f00; }
      body .helmet-container .white .scalp .right:after {
        content: '';
        position: absolute;
        right: -13px;
        bottom: -20px;
        width: 148px;
        height: 20px;
        background: #f80;
        border-bottom-right-radius: 100%; }
      body .helmet-container .white .eyes {
        width: 296px;
        height: 0;
        left: 0px;
        top: 120px;
        position: absolute;
        z-index: 0;
        border-right: 42px solid transparent;
        border-left: 42px solid transparent;
        border-bottom: 73px solid #080; }
      body .helmet-container .white .eyes:before {
        content: '';
        position: absolute;
        left: -42px;
        bottom: -132px;
        width: 380px;
        height: 59px;
        background: #f00; }
      body .helmet-container .white .eyes:after {
        content: '';
        position: absolute;
        left: -42px;
        bottom: -187px;
        width: 342px;
        height: 28px;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-top: 27px solid #080; }
      body .helmet-container .white .jaw .left {
        position: absolute;
        left: 47px;
        top: 280px;
        width: 255px;
        height: 10px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 60px solid #f80; }
      body .helmet-container .white .jaw .left:before {
        content: '';
        position: absolute;
        left: 1px;
        bottom: -98px;
        width: 120px;
        height: 28px;
        border-left: 67px solid transparent;
        border-right: 67px solid transparent;
        border-top: 80px solid #0808; }
      body .helmet-container .white .jaw .right {
        position: absolute;
        left: 47px;
        top: 280px;
        width: 128px;
        height: 10px;
        border-left: 15px solid transparent;
        border-top: 60px solid #f80; }
      body .helmet-container .white .jaw .right:before {
        content: '';
        position: absolute;
        left: 1px;
        bottom: -98px;
        width: 60px;
        height: 28px;
        border-left: 67px solid transparent;
        border-top: 80px solid #080; }
      body .helmet-container .white .jaw-2 {
        position: absolute;
        left: 29px;
        top: 279px;
        width: 148px;
        height: 10px;
        border-left: 87px solid transparent;
        border-right: 87px solid transparent;
        border-top: 45px solid #00f8; }
      body .helmet-container .white .jaw-2:before {
        content: '';
        position: absolute;
        left: -1px;
        bottom: -114px;
        width: 120px;
        height: 28px;
        border-left: 15px solid transparent;
        border-right: 16px solid transparent;
        border-top: 97px solid #f008; }
      body .helmet-container .white .jaw-2:after {
        content: '';
        position: absolute;
        left: 14px;
        bottom: -96px;
        width: 120px;
        height: 11px;
        background: #00f8;
        border-bottom-left-radius: 65px 20px;
        border-bottom-right-radius: 65px 20px; }
      body .helmet-container .white .glass {
        position: absolute;
        left: 24px;
        top: 180px;
        width: 331px;
        height: 127px;
        background: #0008;
        border-bottom-right-radius: 120px 100px;
        border-bottom-left-radius: 120px 100px; }
      body .helmet-container .white .glass:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 165px;
        height: 127px;
        background: #fff8;
        border-bottom-left-radius: 120px 100px; }
      body .helmet-container .white .glass:after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0;
        width: 331px;
        height: 21px;
        border-bottom-left-radius: 165px 21px;
        border-bottom-right-radius: 165px 21px;
        background: #00f8; }
      body .helmet-container .white .display {
        position: absolute;
        top: 210px;
        left: 50px;
        width: 280px;
        height: 90px; }
        body .helmet-container .white .display .row:last-child .light:first-child, body .helmet-container .white .display .row:last-child .light:last-child {
          visibility: hidden; }
      body .helmet-container .white .mouth {
        position: absolute;
        left: 150px;
        bottom: 53px;
        width: 40px;
        height: 11px;
        background: #00f8;
        border-right: 40px solid #0f08; }
    body .helmet-container .display .row {
      margin-top: 6px; }
      body .helmet-container .display .row:first-child {
        margin: 0; }
    body .helmet-container .display .light {
      width: 10px;
      height: 10px;
      border-radius: 2px;
      display: inline-block;
      margin-left: 6px;
      background: none;
      box-shadow: none;
      transition: all .25s linear; }
      body .helmet-container .display .light:first-child {
        margin: 0; }
      body .helmet-container .display .light.on-r {
        background: red;
        box-shadow: 0 0 20px 2px red; }
      body .helmet-container .display .light.on-g {
        background: #8fc045;
        box-shadow: 0 0 20px 1px #8fc045; }
    body .helmet-container .orange .display .light {
      border-radius: 10px; }
    body .helmet-container .shadow {
      background: #222e3d;
      width: 360px;
      height: 389px;
      position: absolute;
      left: 52px;
      top: 53px;
      transform: rotate(45deg);
      border-bottom-left-radius: 260px;
      border-top-left-radius: 80px;
      box-shadow: 100px 0 0 0 #222e3e, 100px 0 0 0 #222e3e, 200px 0 0 0 #222e3e, 300px 0 0 0 #222e3e, 400px 0 0 0 #222e3e, 500px 0 0 0 #222e3e, 600px 0 0 0 #222e3e, 700px 0 0 0 #222e3e, 800px 0 0 0 #222e3e, 900px 0 0 0 #222e3e, 1000px 0 0 0 #222e3e, 1100px 0 0 0 #222e3e, 1200px 0 0 0 #222e3e, 1300px 0 0 0 #222e3e, 1400px 0 0 0 #222e3e, 1500px 0 0 0 #222e3e, 1600px 0 0 0 #222e3e, 1700px 0 0 0 #222e3e, 1800px 0 0 0 #222e3e, 1900px 0 0 0 #222e3e, 2000px 0 0 0 #222e3e; }
    body .helmet-container.expand .shadow {
      display: none; }
    body .helmet-container.expand .orange.colored .glass:before {
      background: #000; }
    body .helmet-container .orange.colored .cover {
      background: #f8ae36; }
    body .helmet-container .orange.colored .cover:before, body .helmet-container .orange.colored .cover:after {
      background: #faaf21; }
    body .helmet-container .orange.colored .glass {
      background: #000; }
    body .helmet-container .orange.colored .glass:before {
      background: #333; }
    body .helmet-container.expand .white.colored .glass {
      background: #000; }
    body .helmet-container .white.colored .eyes {
      border-bottom-color: #d1ddee; }
    body .helmet-container .white.colored .eyes:before {
      background: #d1ddee; }
    body .helmet-container .white.colored .eyes:after {
      border-top-color: #d1ddee; }
    body .helmet-container .white.colored .scalp .left, body .helmet-container .white.colored .scalp .left:after {
      background: #bbceea; }
    body .helmet-container .white.colored .scalp .left:before {
      border-bottom-color: #bbceea; }
    body .helmet-container .white.colored .scalp .right, body .helmet-container .white.colored .scalp .right:after {
      background: #abb9cc; }
    body .helmet-container .white.colored .scalp .right:before {
      border-bottom-color: #abb9cc; }
    body .helmet-container .white.colored .jaw .left, body .helmet-container .white.colored .jaw .left:before {
      border-top-color: #abb9cc; }
    body .helmet-container .white.colored .jaw .right, body .helmet-container .white.colored .jaw .right:before {
      border-top-color: #bbceea; }
    body .helmet-container .white.colored .jaw-2, body .helmet-container .white.colored .jaw-2:before {
      border-top-color: #d1ddee; }
    body .helmet-container .white.colored .jaw-2:after {
      background: #d1ddee; }
    body .helmet-container .white.colored .glass {
      background: #333; }
    body .helmet-container .white.colored .glass:before {
      background: #000; }
    body .helmet-container .white.colored .glass:after {
      background: #d1ddee; }
    body .helmet-container .white.colored .mouth {
      background: #000;
      border-right: 40px solid #333; }
