@import '../mixins';

body{
  background: #2e3e51;
  margin: none;

  .heading{
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    text-align: center;

    div.title{
      position: relative;
      // background: fade_out($bg, 0.5);
      display: inline-block;
      padding: 10px;
      .small{
        font-size: 25px;
        font-weight: 400;
      } 
    }
    @media(max-width: 680px){
      font-size: 30px;
    }
  }

  .helmet-container {
    width: 380px;
    height: 430px;
    position: absolute;
    left: 127px;
    top: 53px;

    .orange {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      transition: all .125s linear;
      background: #2e3e51;
      width: 50%;
      // border-right: 5px solid transparent; 
      // box-shadow: 5px 0px 6px -4px #222e3f;

      .cover {
        width: 294px;
        height: 430px;
        background: #f8ae36;
        border-radius: 230px 220px 230px 230px;
        position: absolute;
        left: 41px;
        top: 0px;
        /* opacity: .5; */
      }
      .cover:before {
        content: '';
        /* opacity: .5; */
        background: #faaf21;
        width: 40px;
        height: 210px;
        position: absolute;
        left: -14px;
        top: 131px;
        border-radius: 20px 10px 0px 19px;
        transform: rotateZ(-6deg);
      }
      .cover:after {
        content: '';
        /* opacity: .5; */
        background: #faaf21;
        width: 40px;
        height: 210px;
        position: absolute;
        right: -14px;
        top: 131px;
        border-radius: 10px 20px 20px 0px;
        transform: rotateZ(6deg);
        z-index: 0;
      }
      .glass {
        position: relative;
        background: #000;
        width: 270px;
        left: 13px;
        height: 360px;
        /* opacity: .5; */
        border-radius: 140px 140px 80px 80px;
        z-index: 1;
      }
      .glass:before {
        content: '';
        position: absolute;
        background: #333;
        width: 134px;
        left: 136px;
        height: 360px;
        opacity: .5;
        border-top-right-radius: 135px 135px;
        border-bottom-right-radius: 77px 76px;
        z-index: 1;
      }
    }

    .white {
      .scalp .left {
        width: 135px;
        height: 120px;
        background: #f00;
        left: 55px;
        position: relative;
        border-top-left-radius: 110px;
      }
      .scalp .left:before {
        content: '';
        position: absolute;
        left: -13px;
        top: 60px;
        border-left: 25px solid transparent;
        border-bottom: 60px solid #00f;
      }
      .scalp .left:after {
        content: '';
        position: absolute;
        left: -13px;
        bottom: -20px;
        width: 148px;
        height: 20px;
        background: #f80;
        border-bottom-left-radius: 100%;
      }

      .scalp .right {
        width: 135px;
        height: 120px;
        background: #00f;
        right: 55px;
        top: 0;
        position: absolute;
        border-top-right-radius: 110px;
      }
      .scalp .right:before {
        content: '';
        position: absolute;
        right: -13px;
        top: 60px;
        border-right: 25px solid transparent;
        border-bottom: 60px solid #f00;
      }
      .scalp .right:after {
        content: '';
        position: absolute;
        right: -13px;
        bottom: -20px;
        width: 148px;
        height: 20px;
        background: #f80;
        border-bottom-right-radius: 100%;
      }

      .eyes {
        width: 296px;
        height: 0;
        left: 0px;
        top: 120px;
        position: absolute;
        z-index: 0;
        border-right: 42px solid transparent;
        border-left: 42px solid transparent;
        border-bottom: 73px solid #080;
      }
      .eyes:before {
        content: '';
        position: absolute;
        left: -42px;
        bottom: -132px;
        width: 380px;
        height: 59px;
        background: #f00;
      }
      .eyes:after {
        content: '';
        position: absolute;
        left: -42px;
        bottom: -187px;
        width: 342px;
        height: 28px;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        border-top: 27px solid #080;
      }

      .jaw .left {
        position: absolute;
        left: 47px;
        top: 280px;
        width: 255px;
        height: 10px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 60px solid #f80;
      }
      .jaw .left:before {
        content: '';
        position: absolute;
        left: 1px;
        bottom: -98px;
        width: 120px;
        height: 28px;
        border-left: 67px solid transparent;
        border-right: 67px solid transparent;
        border-top: 80px solid #0808;
      }
      .jaw .right {
        position: absolute;
        left: 47px;
        top: 280px;
        width: 128px;
        height: 10px;
        border-left: 15px solid transparent;
        border-top: 60px solid #f80;
      }
      .jaw .right:before {
        content: '';
        position: absolute;
        left: 1px;
        bottom: -98px;
        width: 60px;
        height: 28px;
        border-left: 67px solid transparent;
        border-top: 80px solid #080;
      }

      .jaw-2 {
        position: absolute;
        left: 29px;
        top: 279px;
        width: 148px;
        height: 10px;
        border-left: 87px solid transparent;
        border-right: 87px solid transparent;
        border-top: 45px solid #00f8;
      }
      .jaw-2:before {
        content: '';
        position: absolute;
        left: -1px;
        bottom: -114px;
        width: 120px;
        height: 28px;
        border-left: 15px solid transparent;
        border-right: 16px solid transparent;
        border-top: 97px solid #f008;
      }
      .jaw-2:after {
        content: '';
        position: absolute;
        left: 14px;
        bottom: -96px;
        width: 120px;
        height: 11px;
        background: #00f8;
        border-bottom-left-radius: 65px 20px;
        border-bottom-right-radius: 65px 20px;
      }

      .glass {
        position: absolute;
        left: 24px;
        top: 180px;
        width: 331px;
        height: 127px;
        background: #0008;
        border-bottom-right-radius: 120px 100px;
        border-bottom-left-radius: 120px 100px;
      }
      .glass:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 165px;
        height: 127px;
        background: #fff8;
        border-bottom-left-radius: 120px 100px;
      }
      .glass:after {
          content: '';
          position: absolute;
          left: 0px;
          top: 0;
          width: 331px;
          height: 21px;
          border-bottom-left-radius: 165px 21px;
          border-bottom-right-radius: 165px 21px;
          background: #00f8;
      }

      .mouth {
        position: absolute;
        left: 150px;
        bottom: 53px;
        width: 40px;
        height: 11px;
        background: #00f8;
        border-right: 40px solid #0f08;
      }
    }

    .shadow {
      background: #222e3d;
      width: 360px;
      height: 389px;
      position: absolute;
      left: 52px;
      top: 53px;
      transform: rotate(45deg);
      border-bottom-left-radius: 260px;
      border-top-left-radius: 80px;
      $val: 100px 0 0 0 #222e3e;
      @for $i from 1 through 20 {
          $val: #{$val}, #{$i * 100}px 0 0 0 #222e3e;
      }
      box-shadow: $val;
    }

    .white.colored {
      .eyes { border-bottom-color: #d1ddee; }
      .eyes:before { background: #d1ddee;  }
      .eyes:after { border-top-color: #d1ddee; }

      .scalp .left, .scalp .left:after { background: #bbceea; }
      .scalp .left:before { border-bottom-color: #bbceea; }
      .scalp .right, .scalp .right:after { background: #abb9cc; }
      .scalp .right:before { border-bottom-color: #abb9cc; }

      .jaw .left, .jaw .left:before { border-top-color: #abb9cc; }
      .jaw .right, .jaw .right:before { border-top-color: #bbceea; }
      .jaw-2, .jaw-2:before { border-top-color: #d1ddee; }
      .jaw-2:after { background: #d1ddee; }

      .glass { background: #333; }
      .glass:before { background: #000; }
      .glass:after { background: #d1ddee; }
      .mouth {
        background: #000;
        border-right: 40px solid #333;
      }
    }
  }
}
