body {
  font-family: 'Lato', sans-serif;
}
body .heading {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 680px) {
  body .heading {
    font-size: 30px;
  }
}
body .pie {
  width: 400px;
  height: 400px;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
  background: #0096d6;
  position: absolute;
  border-radius: 1500px;
  overflow: hidden;
  z-index: -1;
}
body .pie:before {
  content: ' ';
  position: absolute;
  left: 40px;
  bottom: 0px;
  border-bottom: 190px solid #f5e838;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
}
body .pie:after {
  content: ' ';
  position: absolute;
  left: 235px;
  bottom: 11px;
  border-bottom: 200px solid #c2b434;
  border-right: 70px solid transparent;
  -webkit-transform: rotate(-22deg);
  -moz-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  -o-transform: rotate(-22deg);
}
body .pie.sky:before,
body .pie.sky:after {
  content: none;
}
body .pie.sunny {
  background: transparent;
}
body .pie.sunny:after {
  content: none;
}
body .pie.shady {
  background: transparent;
}
body .pie.shady:before {
  content: none;
}
@media (max-width: 680px) {
  body .pie {
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
  }
  body .pie:before {
    left: 40px;
    bottom: 0px;
    border-bottom: 90px solid #f5e838;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
  }
  body .pie:after {
    left: 135px;
    bottom: -89px;
    border-bottom: 200px solid #c2b434;
    border-right: 70px solid transparent;
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
  }
}
body .legend {
  position: absolute;
  left: calc(50% - 200px + 450px);
  top: calc(50% - 80px);
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  padding-bottom: 0;
}
body .legend:hover > div {
  opacity: 0.5;
}
body .legend > div {
  border-left: 20px solid #fff;
  padding-left: 10px;
  height: 20px;
  margin-bottom: 20px;
}
body .legend > div:hover {
  opacity: 1;
}
body .legend .sky {
  border-color: #0096d6;
}
body .legend .sunny {
  border-color: #f5e838;
}
body .legend .shady {
  border-color: #c2b434;
}
@media (max-width: 680px) {
  body .legend {
    left: calc(50% - 200px + 320px);
    font-size: 14px;
    border-left-width: 10px;
    height: 10px;
  }
}
